@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&display=swap");
#map {
  width: 100%;
  height: 90vh;
  border-radius: 0.5rem;
}

#chartdiv {
  width: 100%;
  height: 300px;
}

:root {
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  color: black;
  background-color: #f1f6ff !important;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif !important;
}

span {
  font-size: small;
}

p {
  font-size: small;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: bold;
}

main {
  margin-left: 20rem;
  padding: 0rem;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  main {
    margin: 0;
    margin-bottom: 5rem;
  }
}

.nav {
  z-index: 2;
  position: fixed;
  background-color: #2B2D42;
  -webkit-transition: width 300ms ease;
  transition: width 300ms ease;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: #fff;
  background: #242423;
  letter-spacing: 0.3ch;
  width: 100%;
}

.nav .logo span {
  font-size: x-large;
}

.nav .nav-item {
  width: 100%;
  background-color: #242423;
}

.nav .nav-item:last-child {
  margin-top: auto;
}

.nav .nav-item .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
  padding: 1rem;
  color: #dfdfdf;
  text-decoration: none;
  -webkit-filter: grayscale(100%) opacity(0.7);
          filter: grayscale(100%) opacity(0.7);
  -webkit-transition: 300ms;
  transition: 300ms;
}

.nav .nav-item .nav-link .link-text {
  margin-left: 1rem;
}

.nav .nav-item .nav-link i {
  width: 1rem;
  min-width: 1rem;
  margin: 0 1.5rem;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.nav .nav-item .nav-link:hover {
  -webkit-filter: grayscale(0%) opacity(1);
          filter: grayscale(0%) opacity(1);
  background: #212529;
  color: #5767f1;
  cursor: pointer;
}

.nav .nav-item .nav-link:hover i {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 5rem;
    width: 100vw;
    bottom: 0;
  }
  .nav .nav-link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav .nav-link span {
    display: none;
  }
  .nav .nav-item:first-child {
    display: none;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 0;
    width: 20rem;
    height: 100vh;
  }
  .nav:hover {
    width: 20rem;
  }
  .nav:hover .link-text {
    display: inline;
  }
  .nav:hover .logo span {
    left: 0px;
  }
}

.modal {
  z-index: 5;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: auto;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.6rem 3rem;
  border: 3px solid black;
  border-radius: 5px;
  background: white;
  -webkit-box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
}

.modal .message {
  font-size: 1.1rem;
  margin-bottom: 1.6rem;
  margin-top: 0;
}

.modal .btn {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  background: white;
  padding: 0.3rem 3.4rem;
  border: 3px solid black;
  margin-right: 2.6rem;
  -webkit-box-shadow: 0 0 0 black;
          box-shadow: 0 0 0 black;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.modal .btn:last-child {
  margin: 0;
}

.modal .btn:hover {
  background-color: #5767f1;
  -webkit-box-shadow: 0.4rem 0.4rem 0 black;
          box-shadow: 0.4rem 0.4rem 0 black;
  -webkit-transform: translate(-0.4rem, -0.4rem);
          transform: translate(-0.4rem, -0.4rem);
}

.modal .btn:active {
  background: #5767f1;
  -webkit-box-shadow: 0 0 0 black;
          box-shadow: 0 0 0 black;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.modal .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#map_menu {
  padding: 10px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.session {
  border: #404040;
  border-radius: 0.5rem;
  background: #efefef;
  padding: 10px;
  font-size: small;
}

.slide-in-left {
  -webkit-animation: slide-in-left 1s ease-in-out both;
  animation: slide-in-left 1s ease-in-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-2-22 8:46:8
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-right {
  -webkit-animation: slide-in-right 1s ease-in-out both;
  animation: slide-in-right 1s ease-in-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-2-22 8:48:14
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.text-focus-in {
  -webkit-animation: text-focus-in 1s ease-in-out both;
  animation: text-focus-in 1s ease-in-out both;
}

/* ----------------------------------------------
 * Generated by Animista on 2022-2-22 8:59:43
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0);
    filter: blur(0);
    opacity: 1;
  }
}

#menu {
  background: #fff;
  -webkit-transition: height 1s ease;
  transition: height 1s ease;
}

#menu a {
  width: 100%;
  border-radius: 0.25rem;
  border: #404040;
  font-size: small;
  color: #404040;
  display: block;
  margin-top: 0.25rem;
  -webkit-animation: slide-in-left 1s ease-in-out both;
  animation: slide-in-left 1s ease-in-out both;
  padding: 0.5rem;
  text-decoration: none;
  border: 1px solid rgba(0, 0, 0, 0.25);
  text-align: center;
}

#menu a:hover {
  background-color: #f0efef;
  color: #404040;
}

#menu a.active {
  background-color: #5767f1;
  color: #ffffff;
}

#menu a.active:hover {
  background: #4553d8;
}

.slidecontainer {
  width: 100%;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  /* Full-width */
  height: 25px;
  /* Specified height */
  background: #d3d3d3;
  /* Grey background */
  outline: none;
  /* Remove outline */
  opacity: 0.7;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s;
  /* 0.2 seconds transition on hover */
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  background: #5767f1;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  background: #5767f1;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}
/*# sourceMappingURL=style.css.map */