#map {
  width: 100%;
  height: 100vh;
}

:root {
  font-size: 16px;
  font-family: 'Open Sans', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: #2B2D42;
}

::-webkit-scrollbar-thumb {
  background: #48bfe3;
}

p {
  font-size: large;
}

h1 {
  margin-top: 10px;
  margin-bottom: 10px;
}

main {
  margin-left: 5rem;
  padding: 0rem;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  main {
    margin: 0;
    margin-bottom: 5rem;
  }
}

.grid {
  display: -ms-grid;
  display: grid;
  gap: 1rem;
  -ms-grid-columns: (minmax(400px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: 400px;
  grid-auto-flow: dense;
  margin-bottom: 1rem;
}

.tall {
  grid-row: span 2;
}

.wide {
  grid-column: span 2;
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .tall {
    grid-row: span 2;
  }
  .wide {
    grid-column: span 1;
  }
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #353535;
  font-size: 3rem;
  color: #fff;
  -webkit-box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
          box-shadow: rgba(3, 8, 20, 0.1) 0px 0.15rem 0.5rem, rgba(2, 8, 20, 0.1) 0px 0.075rem 0.175rem;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  -webkit-transition: all 1s;
  transition: all 1s;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card:hover {
  -webkit-box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
          box-shadow: rgba(2, 8, 20, 0.1) 0px 0.35em 1.175em, rgba(2, 8, 20, 0.08) 0px 0.175em 0.5em;
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  cursor: pointer;
}

.nsfw {
  -webkit-filter: blur(8px);
          filter: blur(8px);
}

.nsfw:hover {
  -webkit-filter: none;
          filter: none;
}

.nav {
  z-index: 2;
  position: fixed;
  background-color: #2B2D42;
  -webkit-transition: width 300ms ease;
  transition: width 300ms ease;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav .logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  color: #fff;
  background: #242423;
  letter-spacing: 0.3ch;
  width: 100%;
}

.nav .logo span {
  font-size: x-large;
}

.nav .nav-item {
  width: 100%;
}

.nav .nav-item:last-child {
  margin-top: auto;
}

.nav .nav-item .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5rem;
  color: #fff;
  text-decoration: none;
  -webkit-filter: grayscale(100%) opacity(0.7);
          filter: grayscale(100%) opacity(0.7);
  -webkit-transition: 300ms;
  transition: 300ms;
}

.nav .nav-item .nav-link .link-text {
  margin-left: 1rem;
}

.nav .nav-item .nav-link i {
  width: 1rem;
  min-width: 1rem;
  margin: 0 1.5rem;
  -webkit-transition: 300ms ease;
  transition: 300ms ease;
}

.nav .nav-item .nav-link:hover {
  -webkit-filter: grayscale(0%) opacity(1);
          filter: grayscale(0%) opacity(1);
  background: #212529;
  color: #48bfe3;
  cursor: pointer;
}

.nav .nav-item .nav-link:hover i {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .nav {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 5rem;
    width: 100vw;
    bottom: 0;
  }
  .nav .nav-link {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav .nav-link span {
    display: none;
  }
  .nav .nav-item:first-child {
    display: none;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    top: 0;
    width: 5rem;
    height: 100vh;
  }
  .nav:hover {
    width: 15rem;
  }
  .nav:hover .link-text {
    display: inline;
  }
  .nav:hover .logo span {
    left: 0px;
  }
}

.modal {
  z-index: 5;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: auto;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1.6rem 3rem;
  border: 3px solid black;
  border-radius: 5px;
  background: white;
  -webkit-box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);
}

.modal .message {
  font-size: 1.1rem;
  margin-bottom: 1.6rem;
  margin-top: 0;
}

.modal .btn {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  background: white;
  padding: 0.3rem 3.4rem;
  border: 3px solid black;
  margin-right: 2.6rem;
  -webkit-box-shadow: 0 0 0 black;
          box-shadow: 0 0 0 black;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.modal .btn:last-child {
  margin: 0;
}

.modal .btn:hover {
  background-color: #48bfe3;
  -webkit-box-shadow: 0.4rem 0.4rem 0 black;
          box-shadow: 0.4rem 0.4rem 0 black;
  -webkit-transform: translate(-0.4rem, -0.4rem);
          transform: translate(-0.4rem, -0.4rem);
}

.modal .btn:active {
  background: #48bfe3;
  -webkit-box-shadow: 0 0 0 black;
          box-shadow: 0 0 0 black;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.modal .options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#menu {
  background: #fff;
}

#menu a {
  font-size: medium;
  color: #404040;
  display: block;
  margin: 0;
  padding: 0;
  padding: 10px;
  text-decoration: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
  text-align: center;
}

#menu a:last-child {
  border: none;
}

#menu a:hover {
  background-color: #f0efef;
  color: #404040;
}

#menu a.active {
  background-color: #3887be;
  color: #ffffff;
}

#menu a.active:hover {
  background: #3074a4;
}

.slidecontainer {
  height: 10vh;
  margin-left: 5rem;
  padding-left: 10rem;
  padding-right: 10rem;
}

/* The slider itself */
.slider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  -moz-appearance: none;
       appearance: none;
  width: 100%;
  /* Full-width */
  height: 25px;
  /* Specified height */
  background: #d3d3d3;
  /* Grey background */
  outline: none;
  /* Remove outline */
  opacity: 0.7;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s;
  /* 0.2 seconds transition on hover */
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  background: #04AA6D;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 25px;
  /* Set a specific slider handle width */
  height: 25px;
  /* Slider handle height */
  background: #04AA6D;
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}
/*# sourceMappingURL=style.css.map */